// Place all the styles related to the case_controller controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.nav-pills {
	max-width: 120px;
	text-align: left;
	float: left;
	height: 100%;
}

.tab-content {
	width: 85%;
	float: right;
	border: #c2c2c2 2px solid;
}
